*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #192735;
}
.sun{
    width: 100px;
    height: 100px;
    background: radial-gradient( #f09819, #ff512f);
    border-radius: 50%;
    box-shadow: -4px 2px 56px orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mercury_orbit,
.venus_orbit,
.earth_orbit,   
.mars_orbit,
.jupiter_orbit,
.saturn_orbit,
.uranus_orbit,
.neptune_orbit {
    border: 1px dotted #dd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: transparent;
}
.mercury_orbit{
    height: 150px;
    width: 150px;
}

.mercury{
    height:20px;
    width: 20px;
    border-radius: 50%;
    background: linear-gradient(#504e51, #97979f, #ceccd1, 
    #b5a7b5);
    position: absolute;
    top:44%;
    left:44%;
    transform: translate(-50%, -50%);
    animation: orbit1 4s linear infinite;

}
@keyframes orbit1{
    from {
        transform: rotate(360deg) translateX(75px) rotate(-360deg);

    }
    to {
        transform: rotate(0deg) translateX(75px) rotate(0deg);
    }
}

.venus_orbit{
    height: 210px;
    width: 210px;
}
.venus{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: linear-gradient(#fcc782, #c5cf31, #bbbe0b, #d36a08);
    position: absolute;
    top:44%;
    left:44%;
    transform: translate(-50%, -50%);
    animation: orbit2 8s linear infinite;
}
@keyframes orbit2{
    from {
        transform: rotate(0deg) translateX(105px) rotate(0deg);

    }
    to {
        transform: rotate(360deg) translateX(105px) rotate(-360deg);
    }
}
.earth_orbit{
    height: 300px;
    width: 300px;
}
.earth{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(#2b5d9f, #3c7bb6, #4e9ad0, 
    #5fb8e8);
    position: absolute;
    top:44%;
    left:44%;
    transform: translate(-50%, -50%);
    animation: orbit3 12s linear infinite;
}
@keyframes orbit3{
    from {
        transform: rotate(0deg) translateX(150px) rotate(0deg);

    }
    to {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}
.moon_orbit{
    height: 57px;
    width: 57px;
    border-radius:  50%;
    border: 0.8px dotted #dd9;
    position: absolute;
    top: -20%;
    left: -25%;
    background: transparent;

}
.moon{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    box-shadow: -4px 2px 56px #fff;
    position: absolute;
    top:42%;
    left:42%;
    transform: translate(-50%, -50%);
    animation: moon-orbit 4s linear infinite;
}
@keyframes moon-orbit{
    from {
        transform: rotate(0deg) translateX(27px) rotate(0deg);

    }
    to {
        transform: rotate(360deg) translateX(27px) rotate(-360deg);
    }
}
.mars_orbit{
    height: 400px;
    width: 400px;
}
.mars{
    height :23px;
    width: 23px;
    border-radius: 50%;
    background: linear-gradient(#f0efef, #451804, #c1440e, #e77d11, #fda600);
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50% , -50%);
    animation: orbit4 11s linear infinite;
}
@keyframes orbit4{
    from {
        transform: rotate(0deg) translateX(200px) rotate(0deg);

    }
    to {
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}