*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #192735;
}
.sun{
    width: 100px;
    height: 100px;
    background: radial-gradient( #f09819, #ff512f);
    border-radius: 50%;
    box-shadow: -4px 2px 56px orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mercury_orbit,
.venus_orbit,
.earth_orbit,   
.mars_orbit,
.jupiter_orbit,
.saturn_orbit,
.uranus_orbit,
.neptune_orbit {
    border: 1px dotted #dd9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: transparent;
}
.mercury_orbit{
    height: 150px;
    width: 150px;
}

.mercury{
    height:20px;
    width: 20px;
    border-radius: 50%;
    background: linear-gradient(#e7e8ec, #ada8a5,#b1adad, #8c8c94 ,#68696d);
    position: absolute;
    top:44%;
    left:44%;
    animation: orbit1 4s linear infinite;

}
@keyframes orbit1{
    from {
        transform: rotate(360deg) translateX(75px) rotate(-360deg);

    }
    to {
        transform: rotate(0deg) translateX(75px) rotate(0deg);
    }
}

.venus_orbit{
    height: 210px;
    width: 210px;
}
.venus{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: linear-gradient(#f8e2b0, 	#eecb8b, #e3bb76, #d3a567, 	#ad8d54);
    position: absolute;
    top:44%;
    left:44%;
    animation: orbit2 8s linear infinite;
}
@keyframes orbit2{
    from {
        transform: rotate(0deg) translateX(105px) rotate(0deg);

    }
    to {
        transform: rotate(360deg) translateX(105px) rotate(-360deg);
    }
}
.earth_orbit{
    height: 300px;
    width: 300px;
}
.earth{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: linear-gradient(#4f4cb0, #6b93d6, #e9eff9, #9fc164,#d8c596);
    position: absolute;
    top:44%;
    left:44%;
    animation: orbit3 12s linear infinite;
}
@keyframes orbit3{
    from {
        transform: rotate(0deg) translateX(150px) rotate(0deg);

    }
    to {
        transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
}
.moon_orbit{
    height: 57px;
    width: 57px;
    border-radius:  50%;
    border: 0.8px dotted #dd9;
    position: absolute;
    top: -20%;
    left: -25%;
    background: transparent;

}
.moon{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    box-shadow: -4px 2px 56px #fff;
    position: absolute;
    top:42%;
    left:42%;
    animation: moon-orbit 4s linear infinite;
}
@keyframes moon-orbit{
    from {
        transform: rotate(0deg) translateX(27px) rotate(0deg);

    }
    to {
        transform: rotate(360deg) translateX(27px) rotate(-360deg);
    }
}
.mars_orbit{
    height: 400px;
    width: 400px;
}
.mars{
    height :23px;
    width: 23px;
    border-radius: 50%;
    background: linear-gradient(#f0efef, #451804, #c1440e, #e77d11, #fda600);
    position: absolute;
    top: 47%;
    left: 47%;
    animation: orbit4 11s linear infinite;
}
@keyframes orbit4{
    from {
        transform: rotate(0deg) translateX(200px) rotate(0deg);

    }
    to {
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
}
.jupiter_orbit{
    height: 500px;
    width: 500px;
}
.jupiter{
    height: 48PX;
    width: 48px;
    background: linear-gradient(  #b4a79e, #dcd0b8, #d1a77f, #e3dadf, #ddb47e);
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 47%;
    animation: orbit5 7s linear infinite;
}
@keyframes orbit5 {
    from {
        transform: rotate(0deg) translateX(250px) rotate(0deg);

    }
    to {
        transform: rotate(360deg) translateX(250px) rotate(-360deg);
    }
}
.saturn_orbit{
    height : 630px;
    width: 630px;
}
.saturn{
    height : 43px;
    width: 43px;
    background: linear-gradient(#eddbad,#e2bf7d,	#c3924f,#fceead,#c4b08b);
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 47%;
    animation: orbit6 13s linear infinite;

}

@keyframes orbit6 {
    from {
        transform: rotate(0deg) translateX(315px) rotate(0deg);

    }
    to {
        transform: rotate(360deg) translateX(315px) rotate(-360deg);
    }
}
.saturn_ring{
    height: 55px;
    width:55px;
    border-radius: 50%;
    border: 1px dotted #dd9;
    position: absolute;
    top: -8%;
    left: -10%;
    background-color: transparent;

}

.uranus_orbit{
    height: 750px;
    width: 750px;
}
.uranus{
    height: 40px;
    width: 40px;
    background: linear-gradient(#afdbf5,#93cdf1,#62aee7,	#4296dc,#2e84ce);
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 47%;
    animation: orbit7 15s linear infinite;
}
@keyframes orbit7 {
    from {
        transform: rotate(0deg) translateX(375px) rotate(0deg);

    }
    to {
        transform: rotate(360deg) translateX(375px) rotate(-360deg);
    }
}
.neptune_orbit{
    height: 900px;
    width: 900px;
}
.neptune{
    height: 38px;
    width: 38px;
    background: linear-gradient(#477efd,#74d6fd,#3d5ef9,#2b378b,#1f2255);
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: 47%;
    animation: orbit8 17s linear infinite;
}
@keyframes orbit8 {
    from {
        transform: rotate(0deg) translateX(450px) rotate(0deg);

    }
    to {
        transform: rotate(360deg) translateX(450px) rotate(-360deg);
    }
}